<h1>Clientes</h1>
<%= notice %>
<br/>
<%= link_to "novo", cliente_new_path %>

<br/>

<table>
  <tr>
    <th>Código</th>
    <th>Nome</th>
    <th>Sexo</th>
  </tr>
  <% @empresas.each do |empresa| %>

  <% end %>

</table>

